* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

#on-boarding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333333be;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#ar-scene {
    z-index: -1;
}

.intro-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    max-width: 85vw;
}
